---
layout: default
title: About the Festival
permalink: /about/
redirect_url: /about/
---

{% comment %}
  A hardcoded page for the time being. Highlights some past events, explains what
  the festival is about, and explains how to become an event host.
{% endcomment %}

{% include header.html %}
<!--Header-->
<main class="post_content">
  <article class="post form_post">

<!-- Section Post -->
    <div class="entry_content" id="content">
      <!-- INTRO TYPE CONTENT START -->
      <h1 class="post_title">About our Festival</h1>

      <p><strong>Nau mai, haere mai! Welcome to this introduction to our festival. Read on to learn how you can become an Event Host, how we operate, and to see some events from last year.</strong></p>
      
      <h2 id="about">What is Wellington Heritage Week?</h2>
      <p>
        Wellington Heritage Week is a community-sourced heritage and culture festival celebrating the region's people, places, and stories.
      </p>
      <p>
        We act as a platform to promote events set up by individuals, organisations, and communities. All festival events are run by these groups, and our role is to highlight their efforts through our website, social media promotion, press coverage, and more.
      </p>

      <h2 id="dates">When does the festival run?</h2>
      <p style="margin-bottom: 0;">
        For 2023, Wellington Heritage Week will run for two weeks, from <strong>Monday, October 23rd (Labour Day) - Sunday, November 5th.</strong>
      </p>
      <div style="width: 100%; text-align: center;">
        <img alt="" src="/assets/img/WHW23 Logo Text.jpg" class="header-event-banner" style="width: 30%;" />
      </div>
      <p>
        Before the festival starts, our team will work with event hosts to plan and organise their offerings. This occurs from May until July 31st when Event Host applications close.
      </p>
      </br>
      <!-- INTRO TYPE CONTENT ENDS -->

      <!-- EVENT HOST INFO START -->
      <h2 id="host">How do I become an Event Host?</h2>
      <p style="margin-bottom: 0;">
        There are two steps to becoming an event host:
      </p>
      <ol style="margin: 1.75rem 0 1.75rem 0;">
        <li style="margin-bottom: 1rem;">
          <a href="/form/2023-event-host-registration-form/" title="Registration of Interest">Register your Interest</a> online or by email before <strong>June 30th</strong>. This step is optional but <strong>highly recommended</strong>.
        </li>
        <li>
          Complete a <a href="/form/2023-event-host-application-form/" title="Registration of Interest">Full Application</a> online or by email by <strong>10pm, July 31st 2023</strong>. This step is <strong>REQUIRED</strong>.
        </li>
      </ol>
      <p>
        Completing a Registration of Interest form as soon as possible helps you and our team. It allows us to assist in planning your event, enabling us to time your event for a slot in the festival where you're likely to get the highest attendance.
      </p>
      <p>
        The <strong>only required step</strong> is to submit your Full Application before <strong>10pm, July 31st 2023</strong>. This is the most important thing to keep in mind.
      </p>
      <p>
        If you would prefer to submit your Registration of Interest or Full Application via email or would like a hardcopy of these instructions, please download this document: <a href="/assets/uploaded/wellington-heritage-week-event-host-information-2023.pdf">Event Host Instructions (PDF)</a>
      </p>
      <p style="margin-bottom: 1rem;">
        You can fill out the Registration of Interest and Full Application forms on our website, available at the links below:
      </p>
      <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;">
        <a class="btn link_btn secondary_btn" style="margin: .5rem; width: auto; text-align: center;" href="/form/2023-event-host-registration-form/" title="Registration of Interest Form">Registration of Interest Form</a>
        <a class="btn link_btn secondary_btn" style="margin: .5rem; width: auto; text-align: center;" href="/form/2023-event-host-application-form/" title="Submit your Full Application form">Full Application Form</a>
      </div>
      </br>

      <h2 id="cost">How much does it cost to become an Event Host?</h2>
      <p>
        Becoming an event host is <strong>FREE</strong>; the best price!
      </p>
      <p>
        As an event host, you are solely responsible for funding and organising your event. We may be able to help with planning, and if you have prohibitive costs, please reach out to our team for a chat.
      </p>
      </br>
      <!-- EVENT HOST INFO END -->
      
      <!-- PAST EVENTS INFO START -->
      <h2 id="highlights">Some event examples from 2022</h2>
      <p>
        Our festival often represents an eclectic mix of people, places, and stories. The type of events we highlight varies greatly, so there is flexibility when planning your own. If you have an idea for an event but aren't sure if it will fit in the festival, please reach out to us via <a href="mailto:info@wellingtonheritageweek.co.nz" title="Wellington Heritage Week team email">our email!</a> Below are some examples of the types of events we receive.
      </p>
      <h3 style="margin-bottom: 0;">Talk and Tour of the Wellington City Archives</h3>
      <p style="margin-bottom: 1rem;">
        Our festival shows people areas of the city they may not often visit or do not always have access to. One of the mainstays of this "Behind the scenes" type event is the Talk and Tour of the <a href="https://wellington.govt.nz/arts-and-culture/archives" title="Wellington City Archives link on WCC website">Wellington City Archives</a>, which houses records and memorabilia relevant to Pōneke's heritage.
      </p>
      <!-- <div class="email_container">
        <div class="contact_box">
          <a class="btn link_btn primary_btn" href="/event/talk-and-tour-of-wellington-city-archives/">Read more</a>
        </div>
      </div> -->
      <h3 style="margin-bottom: 0;">The 'Not-so-straight' Artists Walk Tour</h3>
      <p style="margin-bottom: 1rem;">
        Wellington's story is written by a wide range of communities and, perhaps more than most cities, much of ours is built by the rainbow community. This walking tour, hosted by <a href="https://walktours.nz/" title="Walk Tours NZ website">Walk Tours NZ</a>, covered some of these stories, focusing on the artists who shaped the city and the communities they were a part of.
      </p>
      <!-- <div class="email_container">
        <div class="contact_box">
          <a class="btn link_btn primary_btn" href="/event/the-not-so-straight-artists-walk-tour/">Read more</a>
        </div>
      </div> -->
      <h3 style="margin-bottom: 0;">Urbantics - A Spy Themes Urban Adventure</h3>
      <p style="margin-bottom: 1rem;">
        This event was a different take on exploring heritage. <a href="https://urbantics.co.nz/" title="Urbantics website">Urbantics</a> ran a self-guided outdoor escape room tour around the city, using a website as a guide. With a group of friends, you could learn about heritage by solving puzzles and mysteries while exploring the area's landmarks.
      </p>
      <!-- <div class="email_container">
        <div class="contact_box">
          <a class="btn link_btn primary_btn" href="/event/urbantics-a-spy-themed-urban-adventure/">Read more</a>
        </div>
      </div> -->
      <h3 style="margin-bottom: 0;">Path of the Artists Walking Tour</h3>
      <p style="margin-bottom: 1rem;">
        Blending the arts and history, this walking tour saw the <a href="https://www.instagram.com/curtaincallcompanynz/" title="Curtain Call Company instagram">Curtain Call Company theatre group</a> express their craft in a well-acted walking tour of the city. Portraying figures from Wellington's history, such as Katherine Mansfield, they read letters in places of importance to said figures.
      </p>
      <!-- <div class="email_container">
        <div class="contact_box">
          <a class="btn link_btn primary_btn" href="/event/path-of-the-artists/">Read more</a>
        </div>
      </div> -->
      <h3 style="margin-bottom: 0;">Heritage Crafts & Vintage + Retro Fair Seatoun</h3>
      <p style="margin-bottom: 1rem;">
        This fair had a strong focus on community and crafts. Many activities were offered, from talks on embroidery to a market, all taking place within a <a href="https://www.seatounvillage.co.nz/about-us/" title="Seatoun Community Hall website">historic building</a>. This event was a microcosm of the variety our festival presents.
      </p>
      <!-- <div class="email_container">
        <div class="contact_box">
          <a class="btn link_btn primary_btn" href="/event/heritage-crafts-vintage-retro-fair-seatoun/">Read more</a>
        </div>
      </div> -->
      </br>
      <!-- PAST EVENTS INFO END -->

      <!-- OPERATIONAL INFO START -->
      <h2 id="operation">Who runs the festival?</h2>
      <p>
        Wellington Heritage Week is entirely volunteer operated. As of 2023, our festival is being jointly delivered by the Rotary Club of Wellington and the Wellington Heritage Festival Trust - a charitable trust. The chair of the Rotary Club of Wellington's project committee is Roger Blakely, and the sole trustee of the Wellington Heritage Festival Trust is Alex Hockley.
      </p>
      <p>
        Our team also relies on the effort of other talented volunteers and our community of event hosts. We are currently looking for more volunteers to help us over the coming months. If you would like to hear more, click on <a href="https://www.facebook.com/WellingtonHeritageWeek/posts/pfbid0HoJyz9avi21WmFNu2EhywniLH9w7oBp5WQCjpzdyGyBzQ1Aj7dhz6bLmSgYQQeLvl" title="Volunteers needed Facebook post">this link</a>, or contact our team at <a href="mailto:info@wellingtonheritageweek.co.nz" title="Wellington Heritage Week team email">info@wellingtonheritageweek.co.nz</a>.
      </p>

      <h2 id="funding">How is the festival funded?</h2>
      <p>
        Given that <strong>it is free to be an event host</strong>, a fair question is how we are funded. Wellington Heritage Week is entirely funded by sponsorships and public grants. Usually, this involves funds from city councils via arts & culture grants, central government organisations, and private companies.
      </p>
      <p>
        All of our sponsors are highlighted on our website, printed brochures, and social media channels to thank them for their contributions, as the festival cannot run without their support. If you are interested in becoming a sponsor for the festival, we would love to talk with you. You can email us at <a href="mailto:info@wellingtonheritageweek.co.nz" title="Wellington Heritage Week team email">info@wellingtonheritageweek.co.nz</a>.
      </p>
      </br>
      <!-- OPERATIONAL INFO END -->
    </div>


    <div class="post_wrapper">
      <footer class="post_footer cf">
        <div class="post_share">
          <span>Share:</span>
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="post_tag">
          <span>Tags:</span>
          {% for tag in page.tags %}
          <a class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      </footer>
    </div>
  </article> <!-- End Section Post -->

  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">Heritage Blog posts</h2>
      <div class="recent_list">
        {% assign random_posts = site.blog | sample: 6 %}
        {% for blog in random_posts %}
          {% if blog.title %}
            <a href="{{ root_url }}{{ blog.url }}" class="recent_item" style="background-image: url( {{ blog.img | prepend: site.baseurl}} )"><span>{{ blog.title }}</span></a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section> <!-- End Section Recent Box -->

</main> <!-- End Section Post Content -->

{% include newsletter_signup.html %}
{% include footer.html %}


{% comment %}
OLD ABOUT PAGE CONTENT

---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}{% if site.data.about.author-pic %}{{site.data.about.author-pic}}{% endif %}" alt="Wellington Heritage Week logo">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.data.about.author-name %}{{site.data.about.author-name}}{% else %}Wellington Heritage Week{% endif %}</h2>
          <p class="author_subtitle">{% if site.data.about.about-author %}{{site.data.about.about-author}}{% else %}Wellington's people, places, and stories.{% endif %}</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
{% endcomment %}
