<section id="banner">
  <div class="banner-background">

  </div>
  <div class="wrapper">
    <div class="content">



      <img alt="Wellington Heritage Week" src="/assets/img/wellington-heritage-week-sm.jpg" />




      <!--<h1 class="title">{% if site.data.settings.banner-title %}{{ site.data.settings.banner-title }}{% else %}Site Title{% endif %}</h1>-->
      <!--<h2 class="sub_title">{% if site.data.settings.banner-desc %}{{ site.data.settings.banner-desc }}{% else %}"Subtitle".{% endif %}</h2>-->
    </div>
  </div>
</section>