<div class="section-title">
    <h1>Blog Posts</h1>
    <br />
</div>
{% for blog in site.blog %}
        <a href="{{blog.url | prepend: site.baseurl}}" class="hotel-link">
            <div class="hotel-card">
                <div class="hotel-img">
                    <img src="{{site.baseurl}}{{ blog.img }}" alt="{{blog.title}}">
                </div>
                <div class="hotel-details">
                    <h2>{{blog.title}}</h2>
                    <div class="hotel-text">{{ blog.intro | markdownify}}</div>
                    <hr />
                    <div class="hotel-price">
                        {{ blog.author | markdownify}}
                    </div>
                </div>
            </div>
        </a>
{% endfor %}
 
