<section class="contact" id="contact">
  <h2 class="contact_title">Contact Us</h2>
  <div class="email_container">
    <div class="contact_box">
      <a class="email_input" href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
    </div>
    <h3>Images from Mark Murphy, Kirstin Cambe, Stefanie McKenna, & Dawn Chapman</h3>
  </div>
   <section class="contact">
    <div class="wrapper flex-row">
       <div class="email_container">
          <div class="contact_box">
            <a class="btn link_btn primary_btn" href=/about>About Us</a>
          </div>
</section>
