<script>
    window.addEventListener('load', function () {
      let eventCards = document.getElementsByClassName('event-card');
      let tagMap = {
        'All Tags': Array.from(eventCards)
      }, locationMap = {
        'All Locations': Array.from(eventCards)
      };
      for (let a = 0; a < eventCards.length; a++) {
        let location = eventCards[a].getAttribute('data-location') || 'Unknown Location';
        let tags = eventCards[a].getAttribute('data-tags');

        if (!locationMap[location]) {
          locationMap[location] = [];
        }
        locationMap[location].push(eventCards[a]);

        if (!tags) {
          continue;
        }
        tags = tags.split(',');
        for (let b = 0;b < tags.length; b++) {
          if (tags[b]) {
            if (!tagMap[tags[b]]) {
              tagMap[tags[b]] = [];
            }
            tagMap[tags[b]].push(eventCards[a]);
          }
        }
      }

      let locationSelector = document.querySelector('select.location');
      let tagSelector = document.querySelector('select.tag');

      for (let tag in tagMap) {
        if (!tagMap.hasOwnProperty(tag)) {
          continue;
        }
        let option = document.createElement('option');
        option.text = tag;
        option.value = tag;
        tagSelector.add(option);
      }

      for (let location in locationMap) {
        if (!locationMap.hasOwnProperty(location)) {
          continue;
        }
        let option = document.createElement('option');
        option.text = location;
        option.value = location;
        locationSelector.add(option);
      }

      tagSelector.selectedIndex = localStorage.getItem('selectedTagIndex') || 0;
      locationSelector.selectedIndex = localStorage.getItem('selectedLocationIndex') || 0;

      let selectedTag = tagSelector.selectedOptions[0].text;
      let selectedLocation = locationSelector.selectedOptions[0].text;

      updateEvents();

      tagSelector.addEventListener('change', function () {
        localStorage.setItem('selectedTagIndex', tagSelector.selectedIndex);
        selectedTag = tagSelector.selectedOptions[0].text;
        updateEvents();
      });

      locationSelector.addEventListener('change', function () {
        localStorage.setItem('selectedLocationIndex', locationSelector.selectedIndex);
        selectedLocation = locationSelector.selectedOptions[0].text;
        updateEvents();
      });

      function updateEvents() {
        for (let a = 0;a < eventCards.length; a++) {
          if (tagMap[selectedTag].indexOf(eventCards[a]) !== -1 && locationMap[selectedLocation].indexOf(eventCards[a]) !== -1) {
            eventCards[a].style.display = '';
          } else {
            eventCards[a].style.display = 'none';
          }
        }
      }

    });
</script>
<div class="section-title">
    <h1>Events:</h1>
    <div class="filter-bar" style="text-align: right">
        <p>Filter:
        <select class="location"></select>
        <select class="tag"></select>
        </p>
    </div>
</div>
{% for event in site.events %}
<div class="chapter event-card" data-tags="{% for t in event.tag %}{{t}},{% endfor %}" data-location="{{ event.location }}">
    <a href="{{event.url | prepend: site.baseurl}}">
        {% if event.img %}
        <img src={{site.baseurl}}{{ event.img }} alt="{{event.title}}">
        {% endif %}
        <div class="chapter_inner">
            <h3 class="chapter_title">{{event.title}}</h3>
            <p class="chapter_number">{{event.event_date}}</p>
        </div>
        {% if event.booked_out %}
        <div class="ribbon"><span>Booked out</span></div>
        {% endif %}
    </a>
</div>
{% endfor %}