<div class="white">
  <div class="header wrapper">
    <div class="header-side">
      <a href="{{site.baseurl}}/">
        <img alt="{{ site.logodescription }}" src="/assets/img/event_banner.png" class="header-event-banner" />
      </a>
    </div>
    <div class="header-center">
      <a href="{{site.baseurl}}/">
        <img alt="{{ site.logodescription }}" src="/assets/img/logo.svg" class="logo" />
      </a>
    </div>
    <div class="header-side nav">
      <div>
        <a href="/about">About Us</a>
      </div>
    </div>
  </div>
</div>