<div class="white">
  <div class="header wrapper">
    <div class="header-side">
      <a href="{{site.baseurl}}/">
        <img alt="{{ site.logodescription }}" src="/assets/img/WHW Logo 19 DONE.png" class="header-event-banner" />
      </a>
    </div>
    <div class="header-center">
      <a href="{{site.baseurl}}/" class="header-outer">
        <img alt="{{ site.logodescription }}" src="/assets/img/logo.svg" class="logo" />
      </a>
    </div>
    <div class="header-side nav">
      <div>
        <a href="/about">About Us</a>
        <a href="{{ site.data.social.instagram_url }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="{{ site.data.social.facebook_url }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
