<div class="section-title">
    <h1>Heritage Stays</h1>
    <br />
</div>
{% for hotel in site.hotels %}
    {% if hotel.hotel == true %}
        <a href="{{hotel.url | prepend: site.baseurl}}" class="hotel-link">
            <div class="hotel-card">
                <div class="hotel-img">
                    <img src="{{site.baseurl}}{{ hotel.img }}" alt="{{hotel.title}}">
                </div>
                <div class="hotel-details">
                    <h2>{{hotel.title}}</h2>
                    <div class="hotel-text">{{ hotel.hotel_text | markdownify}}</div>
                    <hr />
                    <div class="hotel-price">
                        {{ hotel.availability_text | markdownify}}
                    </div>
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}
