<div class="section-title">
    <h1>Recent posts</h1>
    <br />
</div>
{% for post in site.posts %}
    {% if hotel.hotel == true %}
        <a href="{{hotel.url | prepend: site.baseurl}}" class="hotel-link">
            <div class="hotel-card">
                <div class="hotel-img">
                    <img src="{{site.baseurl}}{{ post.img }}" alt="{{post.title}}">
                </div>
                <div class="hotel-details">
                    <h2>{{post.title}}</h2>
                    <div class="hotel-text">{{ post.post_text | markdownify}}</div>
                    <hr />
                    <div class="hotel-price">
                        {{ post.author | markdownify}}
                    </div>
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}
