// - - - - - - - - - - Cards Styles - - - - - - - - - - //

.chapters
  padding: 2rem 0
  .chapter
    position: relative
    float: left
    width: 32.333%
    margin: 0 0.5% 1% 0.5%
    transition: transform 0.4s
    a
      text-decoration: none
    img
      width: 100%
      vertical-align: middle
      transition: all 0.4s

  .chapter_inner
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    background-color: rgba(black, .7)
    .chapter_number, .chapter_title
      color: $white
      margin: 0
    .chapter_number
      font-size: 0.9rem
      text-transform: uppercase
      margin: 0 0 0 10px !important
    .chapter_title
      font-size: 1.75rem
      font-weight: 400
      margin: 0
      padding: 10px
      &::after
        content: ""
        display: block
        width: 40px
        margin-top: 1rem
        border-top: 3px solid $border_red
