.sponsors {
  background-color: #3a3875;
  padding: 1rem 0 1rem 0;
  text-align: center;
  color: white;

  .sponsor-card {
    display: inline-block;
    margin: 5px;
    max-width: 1470px;

    img {
      max-height: 120px;
      max-width: 100%;
    }
  }

  a:link {
    color: white;
  }
}
