---
layout: default
---

{% comment %} Use this to track if we have an image or not {% endcomment %}
{% assign has_image = post.img != null and post.img != "" %}

{% include header.html %}

<main class="post_content">
    <!--Header-->
    <header>
      {% if has_image %}
      <div class="post_image">
        <img src={{ page.img | prepend: site.baseurl}} alt="{{page.title}}">
        {% unless page.submissions_open %}
          <div class="ribbon large2"><span>Submissions Closed</span></div>
        {% endunless %}
      </div>
        {% comment %} Use "banner" style header if there is an image, otherwise include it below in main content {% endcomment %}
      <div class="post_description">
        <h1 class="post_title">{{page.title}}</h1>
      </div>
      {% endif %}
    </header>

<!-- Section Post -->
    <div class="entry_content">

      <!-- Page content -->
      <p><strong>{{page.intro}}</strong></p>
      {{page.content | markdownify}}

      <!-- Embedded forms OR forms closed message -->
      {% if page.submissions_open %}
        <div class="embed_content">{{ page.form }}</div>
      {% else %}
        <div>{{ page.closed_message }}</div>
      {% endif %}
    </div>

    <!-- Share buttons & tags -->
    <div class="post_wrapper">
      <footer class="post_footer cf">
        <div class="post_share">
          <span>Share:</span>
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="post_tag">
          <span>Tags:</span>
          {% for tag in page.tags %}
          <a class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      </footer>
    </div>
  </article>

</main>

{% include footer.html %}
