---
layout: default
---
{% include header.html %}

{% include banner.html %}

<main class="page-content" aria-label="Content">
  <section class="sponsors">
      <div class="wrapper flex-row">
          <h1>EXPERIENCE WELLINGTON’S PEOPLE, PLACES &amp; STORIES</h1>
          <h3>Organised by Wellington Heritage Week Trust</h3>
          <h3>Sponsored by:</h3>
          </div>
      <div class="sponsor-white">
          {% for sponsor in site.data.sponsors.sponsors %}
          <div class="sponsor-card">
            <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" />
          </div>
          {% endfor %}
      </div>
      <div class="wrapper flex-row">
        <h1>-</br>Become an event host</h1>
        <p>Become an event host for Wellington Heritage Week 2021. There are to steps:
<!--          <ol>
            <li>Register your interest by 1 July 2021.</li>
            <li>Submit your full application by 31 July 2021.</li>
        After receiving -->
         </p>
        <div class="email_container">
          <div class="contact_box">
            <a class="email_input" href="https://whw21registrationform.paperform.co">1. Register your interest</a>
            <a class="email_input" href="https://whw21applicationform.paperform.co">2. Submit an event application</a>
          </div>
        </div>
      </div>
  </section>
  <section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>
</main>
{% include contact.html %}
{% include footer.html %}
