---
layout: default
---
{% include header.html %}

{% include banner.html %}

<main class="page-content" aria-label="Content">
  <section class="sponsors">
    <div class="wrapper flex-row">
      <h1>EXPERIENCE WELLINGTON’S PEOPLE, PLACES &amp; STORIES</h1>
      <p>Organised by Wellington Heritage Festival Trust</p>
    </div>
  </section>
  <section class="contact">
    <div class="wrapper flex-row">
      <h2>Event Host Applications & Registrations Open Now for 2022!</h2>
      <div class="email-container" style="margin-bottom: 4em;">
        {% comment %} 
        <!-- NOTE: Post overall event notification -->
        <!-- <h2>Thank you to all Event Hosts and attendees!</h2>    
        <h3>Check back in early next year!</h3> -->
        {% endcomment %}

        {% comment %} 
        <!-- NOTE: Pre-event signup forms notification -->
        <!-- <h2>Check back soon for event signup forms!</h2> -->
        {% endcomment %} 

        <!-- NOTE: Registrations and applications open notification -->
        <p>
          Please submit a full Event Host application by 10pm, 31st August 2022.
          <br /><br />
          If you are not yet ready to submit your full Application, but want to register your interest, please fill out the registration form in the meantime.
          <br /><br />
          Feel free to email us if you have any questions. We look forward to hearing about your amazing events!
        </p>

        <div class="email_container">
          <div class="contact_box">
            <a class="btn link_btn primary_btn" href="/form/2022-event-host-application-form/">Submit your Application</a>
          </div>
        </div>

        <div class="email_container">
          <div class="contact_box">
            <a class="btn link_btn primary_btn" href="/form/2022-event-host-registration-form/">Register your Interest</a>
          </div>
        </div>

        <br />

        <p>
          Download the <a style="color:#fff" href="/assets/uploaded/wellington-heritage-week-event-host-information-2022.pdf">Event Host Information (PDF)</a> for a hard-copy of the application instructions.
        </p>

        {% comment %} 
        <!-- NOTE: Post registration, pre final signup notifcation -->
        <!--
            <p>Registrations are closed. Thank you to those who registered their event before 1 July. Please submit a full application by 10pm, 31 July 2021.</p> 
        <p>If you did not register, please email us to discuss your event.</p>

          <div class="email_container">
            <div class="contact_box">
                <a class="email_input" href="https://whw21registrationform.paperform.co">Register your interest</a>
            </div>
          </div>


          <div class="email_container">
            <div class="contact_box">
                <a class="email_input" href="https://whw21applicationform.paperform.co">Submit your application</a>
            </div>
          </div>

        <p>Download the <a style="color:#fff" href="/assets/uploaded/wellington-heritage-week-event-host-information-2021.pdf">Event Host Information</a> (PDF)
        for a hard-copy of the registration and application forms.</p>
        -->
        {% endcomment %}
      </div>

      <h3>READ OUR HERITAGE BLOG</h3>
      <div class="email_container">
        <div class="contact_box">
          <a class="btn link_btn primary_btn" href="/blog">Read our Heritage Blog</a>
        </div>
      </div>
    </div>
  </section>
  <section class="sponsors">
    <div class="wrapper flex-row">
      <h2>SPONSORED BY</h2>
    </div>
    <div class="sponsor-white">
      {% for sponsor in site.data.sponsors.sponsors %}
        <div class="sponsor-card">
          <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" />
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="chapters cf">
    <div class="wrapper flex-row">
      {{ content }}
    </div>
  </section>
</main>
{% include contact.html %}
{% include footer.html %}
