---
layout: default
---
{% include header.html %}

{% include banner.html %}

<main class="page-content" aria-label="Content">
  <section class="sponsors">
      <div class="wrapper flex-row">
          <h1>EXPERIENCE WELLINGTON’S PEOPLE, PLACES &amp; STORIES</h1>
          <h3>Organised by Wellington Heritage Week Trust with support from the following sponsors:</h3>
      </div>
      <div class="sponsor-white">
          {% for sponsor in site.data.sponsors.sponsors %}
          <div class="sponsor-card">
            <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" />
          </div>
          {% endfor %}
      </div>
      <div class="wrapper flex-row">
          <h2>
            See the full event program below. 
          </h2>
          <h3>
            Please see the event listings for booking and cost details.   
          </h3>
      </div>
  </section>
  <section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>
</main>
{% include contact.html %}
{% include footer.html %}
